<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        Copyrights &copy; <%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>
    </span>
    <br>
    <span class="copyrights">
        Powered by <a href="https://hexo.io/" target="_blank">hexo</a>.
        Theme based on <a href="http://louisbarranqueiro.github.io/hexo-theme-tranquilpeak/" target="_blank">Tranquilpeak</a>.
    </span>
    <a href="#" id="scrollToTop" title="Scroll to up">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
        <span class="underscore"></span>
    </a>
</footer>
